body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  /* background-color: #faf9f6; */
  background: url(./assets/images/bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;

}

h1 {
  font-size: 5rem;
  margin: 8% 20px 0 20px;
  margin-bottom: 8%;
  color: white;
  
}

footer {
  text-align: right;
  color: midnightblue;
}

.logo {
          width: 40%;
}
      

.special-text {
      color: rgb(218, 128, 11);
      font-weight: bolder;
}


.card {
     width: 45%;
}

.card-title {
     font-size: 2em;
    
}

.left {
       float: left;
}

.right {
       float: right;
}

.tile-image {
   width: 50%;
   height: 350px;
   float: left;
   margin-right: 20px;
}

.card p {
   text-align: justify;
  
}

.right{
   background-color: rgb(195, 138, 15);
   transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;

}


.card:hover  {
  background-color: rgba(29, 162, 219, 0.772);
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(195, 138, 15, 0.711);


}