body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.special-text {
      color: rgba(118, 5, 156, 0.2);
      font-weight: bolder;
}


.card {
     width: 45%;
}

.card-title {
     font-size: 2em;
    
}

.left {
       float: left;
}

.right {
       float: right;
}

.tile-image {
   width: 50%;
   float: left;
   margin-right: 20px;
}

.card p {
   text-align: justify;

   
}